* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 90%; /* inherits from html */
  width: 90%; /* inherits from html */
  background-color: rgb(25, 25, 25);
}

.rps-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  font-size: 2rem;
  color: white;

  height: 100%; /* inherits from html */
  width: 100%; /* inherits from html */
  gap: 2rem;
  padding: 2rem;
}

.rps-heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.slection-images {
  display: flex;
}

.subscribe-btn {
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 16px;
  font-weight: bold;
  padding: 8px 16px;
  margin: 16px;
  cursor: pointer;
  font-size: 1rem;
}

.is-subscribed {
  background-color: #f0f0f0;
  color: black;
}

#calculate-btn {
  border: 1px solid green;
  background-color: green;
  color: white;
  border-radius: 10px;
  font: bold;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 1rem;
}

.cost-input {
  font-size: 1rem;
  padding: 4px 8px;
}

.move-button {
  background-color: transparent;
  padding: 1rem;
  border: none;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  /* width: 120px;
  height: 120px; */
  width: clamp(80px, 10vw, 120px);
  height: clamp(80px, 10vw, 120px);

  /* width: 12vw;
  height: 12vw; */

  margin-right: 10px;
}

.move-icon {
  height: 50px;
  /* height: 6vw; */
  /* border-radius: 50%;
  border: 10px rgb(25, 25, 25);
  background-color: rgb(25, 25, 25); */
  /* background-color: white; */
}

/* .result {
  margin-top: 1rem;
} */

.reset-score-button,
.auto-play-button {
  border: none;
  display: inline-block;
  background-color: whitesmoke;
  color: black;
  font-size: 1rem;
  border-radius: 16px;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
  width: auto;
  max-width: max-content; /* corrected */
}

.player-choice,
.computer-choice {
  display: inline-block;
  width: 50px; /* or whatever fits your layout */
  height: 50px;
  margin: 0.2rem;
}

.result {
  display: inline-block;
  width: 2rem; /* or whatever fits your layout */
  height: 2rem;
}

.score-stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.auto-play-button {
  transition: transform 1s ease-in-out;
}

@keyframes scaleLoop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.auto-play-button.active {
  background-color: red;
  animation: scaleLoop 1s infinite ease-in-out;
}
